<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Niko's Tech Blog</title>
  <link rel="stylesheet" href="../../public/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex flex-column align-center p-2">
      <nav class="display-flex justify-flex-start">
        <a href="/">Home</a> |
        <a href="/dashboard">Dashboard</a> |
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1>Niko's Tech Blog</h1>
    </header>
    <main class="container">
      <h2>Dashboard</h2>

      <!-- New Post Form -->
      <section>
        <h3>Create a New Post</h3>
        <form id="new-post-form" action="/api/posts" method="POST">
          <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
          </div>
          <div>
            <label for="content">Content</label>
            <textarea id="content" name="content" required></textarea>
          </div>
          <button type="submit">Create Post</button>
        </form>
      </section>

      <!-- Your Posts Section -->
      <section>
        <h3>Your Posts</h3>
        {{#if yourPosts.length}}
        <ul>
          {{#each yourPosts}}
          <li>
            <a href="/posts/{{id}}">{{title}}</a> - {{format_date createdAt}}
            <span class="edit-delete">
              <a href="/posts/{{id}}/edit">Edit</a> | 
              <a href="/posts/{{id}}/delete">Delete</a>
            </span>
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>No posts found.</p>
        {{/if}}
      </section>

    </main>
    <footer>
      <!-- Footer content here -->
    </footer>
  </div>

  <!-- Include script for logout functionality if logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
