<!-- Check if there are posts -->
{{#if posts.length}}
  <!-- Loop over each post -->
  {{#each posts}}
    <div class="post">
      <h2><a href="/post/{{id}}" class="post-link" data-id="{{id}}">{{title}}</a> <p class="post-meta">
        <span>Posted by {{user.userName}} on {{formatDate createdAt}}</span>
      </p></h2>
      
      <p>{{{description}}}</p>

      <!-- Check if there are comments -->
      {{#if comments.length}}
        <div class="comments">
          <h3>Comments</h3>
          <!-- Loop over each comment -->
          {{#each comments}}
            <div class="comment">
              <p class="comment-meta">
                <span>Comment by {{user.userName}} on {{formatDate date_created}}</span>
              </p>
              <p>{{{content}}}</p>
            </div>
          {{/each}}
        </div>
      {{else}}
        <p>No comments yet.</p>
      {{/if}}
    </div>
  {{/each}}
{{else}}
  <p>No posts found.</p>
{{/if}}

<script src="/js/homepage.js"></script>

